    
p {
    
    position: absolute;
    right: 30%;
    text-align: left=50%;
    top:35%
    
    
    
} 

p:first-letter {
    padding: left=50%
}

.paragraph{
    color: rgb(1, 3, 15);
    font-family: cursive;
    font-size: 20px
}


 
   
  